/* general */

body, html {
  font-size: 10px;
}

ul {
  list-style-type: disc;
}

.collapsible-body ul {
  padding-left: 3.2rem;
}

h1, h2 {
  font-family: "Neucha";
}

h1 {
  font-size: 9.6rem;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 4.8rem;
  margin-top: 0;
  margin-bottom: 2.4rem;
}

h3 {
  margin: 0;
}

a {
  color: #fff;
}

#container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

main {
  flex: 1;
}

/* first section */

#landing-page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-items: center;
}

#left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

#logo {
  align-self: stretch;
  padding: 2.4rem 3.2rem;
  text-align: right;
}

#logo img {
  width: 150px;
}

#hashtag {  
  text-align: left;
  font-family: "Neucha";
  margin-bottom: 2.4rem;
}

#hashtag img {
  width: 100px;
}

#hashtag a:hover {
  text-decoration: underline;
}

#teaser-text {
  font-family: cursive;
  font-family: "Caveat";
  position: absolute;
  top: 200px;
  right: 625px;
}

#teaser-text img {
  width: 150px;
  margin-left: 60px;
}

#media {
    align-self: stretch;
    width: 600px;
    background-color: #fff;
    min-height: 32rem;
    border: 10px solid #fff;
}

#slogan {
  margin-top: 4.0rem;
  margin-left: -320px;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  font-family: "Neucha";
  background-color: #FFF;
  text-align: right;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

#social-media-icons {
  margin-top: 3.2rem;
  display: flex;
  flex-direction: row;
}

#social-media-icons img {
  width: 56px;
  height: 56px;
  margin-right: 1.6rem;
}

#social-media-icons img:hover {
  opacity: 0.8;
}

#learn-more {
  text-align: right;
  align-self: flex-end;
  padding-right: 2.4rem;
  padding-bottom: 0.8rem;
}

#learn-more a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#learn-more a:hover {
  opacity: 0.8;
}

#learn-more i {
  color: #fff;
}

/* infoboxes */

#infobox-how {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.infobox-left {
  flex: 6;
  min-width: 600px;
}

.infobox-right {
  flex: 4;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.6rem;
  background-color: #fff;
  margin-left: 4.8rem;
}

.infobox-right img {
  width: 100%;
}

.infobox-step {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.infobox-step i {
  margin-right: 0.8rem;
}

/* faq */

.collapsible {
  box-shadow: none;
  margin: 0;
}

/* impressum */

#impressum {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

/* standard styles */ 

.text-standard-size {
  /*font-family: Roboto, sans-serif;*/
  font-size: 2.4rem;
}

.text-size-large {
  font-size: 8.8rem;
}

.text-size-small {
  font-size: 1.6rem;
}

.text-standard-color {
  color: #333333;
}

.text-light {
  color: #FCF7F8;
}

.background-light {
  background-color: #FCF7F8;
}

.background-primary {
  background-color: #D92C60;
}

.background-primary-gradient {
  background: linear-gradient(137.99deg, #A10037 0%, #D92C60 100%), #D92C60;
}

.background-primary-dark {
  background-color: #A10037;
}

.text-primary {
  color: #D92C60;
}

.divider {
  height: 1.6rem;
  background-color: #A19095;
  width: 100%;
}

.padding-horizontal {
  padding-left: 16rem;
  padding-right: 16rem;
}

.padding-vertical {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

@media only screen and (min-width: 2560px){
  .padding-horizontal {
    padding-left: 24rem;
    padding-right: 24rem;
  }
}

@media only screen and (max-width: 1550px){
  #left {
    min-width: 100%;
  }

  .padding-horizontal {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  #teaser-text {
    display: none;
  }

  #media {
    width: 100%;
    height: 600px;
  }
}

@media only screen and (min-width: 1325px){
  .infobox-right {
    margin-left: 0;
  }
}

@media only screen and (max-width: 1024px){
  h1 {
    font-size: 7.2rem;
  }

  h2 {
    font-size: 4.0rem;
  }

  #logo img {
    width: 80px;
  }

  #slogan {
    margin-left: -40px;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }

  .padding-horizontal {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .padding-vertical {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .text-size-large {
    font-size: 6.4rem;
  }

  .text-standard-size {
    font-size: 1.8rem;
  }

  .text-size-small {
    font-size: 1.6rem;
  }
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {} */
